<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form name='register-form' action='/register' method='POST'>
        {{ form.hidden_tag() }}
        <label>Username</label>
        <input name="username" type="text" onfocusout="checkUsername(event)" required>

        <label>Email</label>
        <input name="email" type="email" onfocusout="checkEmail(event)" required>

        <label>Password</label>
        <input name="password" type="password" required>

        <label>Confirm Password</label>
        <input name="confirm_password" type="password" required>

        <input type="submit">
    </form>
    <script src="{{ url_for('static', filename='register.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>